<% if user_signed_in? %>
<div class="fullwidth2">
    <%= render 'navigation' %>
    <h1 class="welcome__h1"><strong>IDEA FACTORY</strong></h1>
    <p class="welcome__p"><strong>"No Matter What People Tell You, Words And Ideas Can Change The World." – Robin
            Williams</strong></p>
    <% else %>
    <div class="fullwidth">
        <h1 class="welcome__h1"><strong>IDEA FACTORY</strong></h1>
        <p class="welcome__p"><strong>"No Matter What People Tell You, Words And Ideas Can Change The World." – Robin
                Williams</strong></p>
        <a button type="button" class="welcome__button" href="<%= new_session_path %>">Start</a></button>
    </div>

    <% end %>