<% if user_signed_in? %>
<div class="fullwidth2">
    <%= render 'navigation' %>
    <h1 class="welcome__h1"><strong>Money.log</strong></h1>
    <p class="welcome__p"><strong>"Drop by Drop fills the tub."</strong></p>
    <% else %>
    <div class="fullwidth">
        <h1 class="welcome__h1"><strong>Money.log()</strong></h1>
        <p class="welcome__p"><strong>"Dreams Do Come True"</strong></p>
        <a button type="button" class="welcome__button" href="<%= new_session_path %>">Start</a></button>
    </div>

    <% end %>