<nav>
<% if user_signed_in? %>
  Hello <%= current_user.full_name %>,
  <%= link_to "Logout", session_path, method: :delete,
            data: {confirm: "are you sure you want to log out?"}%>
<% else %>
  <%= link_to "Sign In", new_session_path %>
<% end %>
</nav>
<p>
<%= flash[:notice] || flash[:alert] || flash[:success]%>
</p>

<h1>Welcome To Home Page</h1>